<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key checker</title>
</head>
<body>
I need you to make only one thing, sir.
Just press a button, sir.
I will tell you each and everything about the button.
<br>
<br>
<br>
<div>
    Code: <span id="code"></span>
</div>
<br>
<div>
    keyCode: <span id="keyCode"></span>
</div>
<br>
<div>
    key: <span id="key"></span>
</div>
</body>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'key.js' %}"></script>
</html>